﻿@model GymManagement.Models.Member

@{
    ViewBag.Title = "Supprimer un membre";
}

<div class="container body-content">
    <h2>Supprimer un membre</h2>

    <h3>Etes-vous sûr de vouloir supprimer ce membre ?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Adresse
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.address)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default" /> |
                @Html.ActionLink("Retour à la liste", "Index")
            </div>
        }
    </div>

</div>