﻿@model GymManagement.Models.Member

@{
    ViewBag.Title = "Details";
}
<div class="container body-content">
    <h2>Details du membre</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                Prénom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.firstName)
            </dd>

            <dt>
                Nom de Famille
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.lastName)
            </dd>

            <dt>
                Date de naîssance
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.birthdate)
            </dd>

            <dt>
                Adresse
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.address)
            </dd>

            <dt>
                E-mail
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.email)
            </dd>

            <dt>
                Genre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.gender)
            </dd>

            <dt>
                Numéro de Téléphone
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.phoneNumber)
            </dd>

            <dt>
                Téléphone d'urgence
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Person.phoneEmergency)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Retour à la liste", "Index")
    </p>
</div>
