﻿@model IEnumerable<GymManagement.Models.Member>

@{
    ViewBag.Title = "Liste des membres";
}

<div class="container body-content">
    <h2>Liste des membres</h2>

    <p>
        @Html.ActionLink("Créer un membre", "Create")
    </p>
    <table class="table datatable">
        <thead>
            <tr>
                <th>
                    Nom
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Email
                </th>
                <th>
                    Adresse
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.firstName) @Html.DisplayFor(modelItem => item.Person.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.address)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.id })
                    </td>
                </tr>
        }
        </tbody>

    </table>
</div>