﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gym Management</title>

    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/DataTables/media/css/jquery.dataTables.min.css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/pricing-table.css")
</head>
<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Gym</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            @if (@ViewBag.isHome != null && @ViewBag.isHome)
            {
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#subscriptions">Abonnements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#middle">Middle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">A propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                        </li>
                        @if (Request.Cookies["user"] != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="/Auth/SignOut">Se déconnecter</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="/Auth/SignIn">Se connecter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" href="/Auth/Register">S'inscrire</a>
                            </li>
                        }


                    </ul>
                </div>
            } else if (Request.Cookies["user"] != null)
            {
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Members">Membres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/SubscriptionOffers">Offres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Subscriptions">Souscriptions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/Accounts">Comptes</a>
                        </li>
                    </ul>
                </div>
            }
        </div>
    </nav>

    @RenderBody()

    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/Scripts/DataTables/media/js/jquery.dataTables.min.js")
    @Scripts.Render("~/Scripts/Site.js")

</body>
</html>
