﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

:root {
    --white-color: #FFFFFD;
    --grey-color: #A9A9AF;
    --dark-grey-color: #474B5B;
    --darkest-grey-color: #31303E;
}

.container-fluid {
    padding: 0;
}

.text-box-column {
    padding: 20px 20px;
}

header {
    background-color: var(--dark-grey-color);
}

header #header-carousel .carousel-item img {
    width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

.section-dark-grey {
    background-color: var(--dark-grey-color);
    color: var(--white-color);
}

section#contact form button {
    background-color: var(--darkest-grey-color);
    border: 1px solid var(--dark-grey-color);
    color: var(--white-color);
    padding: 12px 20px;
    font-size: 0.75em;
    font-weight: 600;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.button[type="submit"], .button-link {
    background-color: var(--darkest-grey-color);
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    font-size: 0.75em;
    font-weight: 600;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.button[type="submit"]:hover, .button-link:hover {
    background-color: var(--dark-grey-color);
}

.input-daterange .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
}