﻿@model GymManagement.Models.Person

@{
    ViewBag.Title = "Delete";
}

<div class="container body-content">
    <h2>Supprimer la personne</h2>

    <h3>Voulez-vous vraiment supprimer ?</h3>
    <div>
        <h4>@Html.DisplayFor(model => model.firstName) @Html.DisplayFor(model => model.lastName)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Prénom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>

            <dt>
                Nom de Famille
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>

            <dt>
                Date de naîssance
            </dt>

            <dd>
                @Html.DisplayFor(model => model.birthdate)
            </dd>

            <dt>
                Adresse
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>



            <dt>
                E-mail
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>



            <dt>
                Genre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gender)
            </dd>

            <dt>
                Numéro de Téléphone
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phoneNumber)
            </dd>

            <dt>
                Téléphone d'urgence
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phoneEmergency)
            </dd>



        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Suprimer" class="btn btn-default" /> |
                @Html.ActionLink("Retour à la liste", "Index")
            </div>
        }
    </div>

</div>