﻿@model GymManagement.Models.Person

@{
    ViewBag.Title = "Details";
}

<div class="container body-content">
    <h2>Details</h2>

    <div>
        <h4>@Html.DisplayFor(model => model.firstName) @Html.DisplayFor(model => model.lastName)</h4>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                Prénom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>

            <dt>
                Nom de Famille
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>

            <dt>
                Date de naîssance
            </dt>

            <dd>
                @Html.DisplayFor(model => model.birthdate)
            </dd>

            <dt>
                Adresse
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                E-mail
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                Genre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gender)
            </dd>

            <dt>
                Numéro de Téléphone
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phoneNumber)
            </dd>

            <dt>
                Téléphone d'urgence
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phoneEmergency)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Retour à la liste", "Index")
    </p>

</div>