﻿@model IEnumerable<GymManagement.Models.Person>

@{
    ViewBag.Title = "Liste des personnes";
}

<div class="container body-content">
    <h2>Liste des Personnes</h2>

    <p>
        @Html.ActionLink("Créer une personne", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Prénom
            </th>
            <th>
                Nom de Famille
            </th>
            <th>
                Date de naîssance
            </th>
            <th>
                Adresse
            </th>
            <th>
                E-mail
            </th>
            <th>
                Genre
            </th>
            <th>
                Numéro de Téléphone
            </th>
            <th>
                Téléphone d'urgence
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneEmergency)
                </td>

                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</div>
