﻿@model GymManagement.Models.SubscriptionOffer

@{
    ViewBag.Title = "Supprimer une offre";
}

<div class="container body-content">
    <h2>Supprimer une offre</h2>

    <h3>Etes-vous de vouloir supprimer l'offre ?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal>
            <dt>
                Nom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                Date de début
            </dt>

            <dd>
                @Html.DisplayFor(model => model.beginDate)
            </dd>

            <dt>
                Date de fin
            </dt>

            <dd>
                @Html.DisplayFor(model => model.endDate)
            </dd>

            <dt>
                Durée
            </dt>

            <dd>
                @Html.DisplayFor(model => model.duration)
            </dd>

            <dt>
                Description
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            <dt>
                Prix
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default" /> |
                @Html.ActionLink("Retour à la liste", "Index")
            </div>
        }
    </div>
</div>
