﻿@model GymManagement.Models.SubscriptionOffer

@{
    ViewBag.Title = "Details";
}

<div class="container body-content">
    <h2>Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nom
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                Date de début
            </dt>

            <dd>
                @Html.DisplayFor(model => model.beginDate)
            </dd>

            <dt>
                Date de fin
            </dt>

            <dd>
                @Html.DisplayFor(model => model.endDate)
            </dd>

            <dt>
                Durée
            </dt>

            <dd>
                @Html.DisplayFor(model => model.duration)
            </dd>

            <dt>
                Prix
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

            <dt>
                Description
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editer", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Retour à liste", "Index")
    </p>

</div>