﻿@model IEnumerable<GymManagement.Models.SubscriptionOffer>

@{
    ViewBag.Title = "Liste des offres";
}

<div class="container body-content">
    <h2>Liste des offres</h2>

    <p>
        @Html.ActionLink("Créer une offre", "Create")
    </p>
    <table class="table datatable">
        <thead>
            <tr>
                <th>
                    Nom
                </th>
                <th>
                    Date de début
                </th>
                <th>
                    Durée
                </th>
                <th>
                    Date de fin
                </th>
                <th>
                    Prix
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.beginDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.endDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.id })
                    </td>
                </tr>
        }
        </tbody>

    </table>
</div>