﻿@model GymManagement.Models.Account

@{
    ViewBag.Title = "Supprimer un compte";
}

<div class="container body-content">
    <h2>Supprimer un compte</h2>

    <h3>Etes-vous sûr de vouloir supprimer ce compte ?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Nom d'utilisateur")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userName)
            </dd>

            <dt>
                @Html.Label("Type de compte")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.accountType)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default" /> |
                @Html.ActionLink("Retour à la liste", "Index")
            </div>
        }
    </div>

</div>