﻿@model GymManagement.Models.Account

@{
    ViewBag.Title = "Details";
}

<div class="container body-content">
    <h2>Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Nom d'utilisateur")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userName)
            </dd>
           

            <dt>
                @Html.Label("Type de compte")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.accountType)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Retour à la liste", "Index")
    </p>

</div>