﻿@model IEnumerable<GymManagement.Models.Account>

@{
    ViewBag.Title = "Liste des comptes";
}

<div class="container body-content">
    <h2>Liste des comptes</h2>

    <p>
        @Html.ActionLink("Créer un nouveau compte", "Create")
    </p>
    <table class="table datatable">
        <thead>
            <tr>
                <th>
                    @Html.Label("Nom d'utilisateur")
                </th>
                <th>
                    @Html.Label("Nom")
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.userName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.firstName) @Html.DisplayFor(modelItem => item.Person.lastName)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.id })
                    </td>
                </tr>
             }
        </tbody>
    </table>
</div>
