﻿@model GymManagement.Models.HealthRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HealthRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Staff.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Staff.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.confidential)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.confidential)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
