﻿@model GymManagement.Models.Subscription

@{
    ViewBag.Title = "Supprimer une souscription";
}

<div class="container body-content">
    <h2>Supprimer une souscription</h2>

    <h3>Etes-vous sûr de vouloir supprimer la souscription</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Membre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Member.Person.firstName)
                @Html.DisplayFor(model => model.Member.Person.lastName)
            </dd>

            <dt>
                Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubscriptionOffer.name)
            </dd>

            <dt>
                Description
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubscriptionOffer.description)
            </dd>

            <dt>
                Date de souscription
            </dt>

            <dd>
                @Html.DisplayFor(model => model.subscriptionDate)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Supprimer" class="btn btn-default" /> |
                @Html.ActionLink("Retour à la liste", "Index")
            </div>
        }
    </div>

</div>