﻿@model GymManagement.Models.Subscription

@{
    ViewBag.Title = "Détails de la souscription";
}

<div class="container body-content">
    <h2>Détails de la souscription</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
                Membre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Member.Person.firstName)
                @Html.DisplayFor(model => model.Member.Person.lastName)
            </dd>

            <dt>
                Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubscriptionOffer.name)
            </dd>

            <dt>
                Description
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SubscriptionOffer.description)
            </dd>

            <dt>
                Date de souscription
            </dt>

            <dd>
                @Html.DisplayFor(model => model.subscriptionDate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Retour à la liste", "Index")
    </p>

</div>