﻿@model IEnumerable<GymManagement.Models.Subscription>

@{
    ViewBag.Title = "Liste des souscriptions";
}

<div class="container body-content">
    <h2>Liste des souscriptions</h2>

    <p>
        @Html.ActionLink("Créer une nouvelle souscription", "Create")
    </p>
    <table class="table datatable">
        <thead>
            <tr>
                <th>
                    Membre
                </th>
                <th>
                    Offre
                </th>
                <th>
                    Date de souscription
                </th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
             {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.Person.firstName)
                        @Html.DisplayFor(modelItem => item.Member.Person.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubscriptionOffer.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.subscriptionDate)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Détails", "Details", new { id = item.id }) |
                        @Html.ActionLink("Supprimer", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>